.about {
  margin-top: 3em;
  margin-bottom: 6em;
  display: flex;
  flex-direction: column;
  &__title {
    margin-bottom: 0.7em;
  }
  &__desc {
    max-width: 450px;
  }
  &__image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1em;
    &--tablet {
      display: none;
    }
  }
}

@media (min-width: 720px) {
  .about {
    margin-top: 7em;
    margin-bottom: 10em;
    flex-direction: row;
    &__text {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
    }
    &__image {
      &--mobile {
        display: none;
      }
      &--tablet {
        display: block;
      }
    }
  }
}
