.feachers {
  &__title {
    text-align: center;
    line-height: 1;
    margin-bottom: 1em;
  }
  &__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.feacher {
  max-width: 100%;
  width: 100%;
  margin-bottom: 2em;
  margin-top: 1em;
  &__title {
    line-height: 2;
  }
  &__image {
    min-height: 6em;
    max-width: 100%;
    width: 100%;
  }
}

@media (min-width: 556px) {
  .feachers {
    &__title {
      margin-bottom: 3.1em;
    }
  }

  .feacher {
    max-width: 264px;
    padding: 0 1em;
    margin-bottom: 4em;
    margin-top: 1em;
    &__image {
      width: auto;
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: 1120px) {
  .feacher {
    margin-bottom: 7em;
  }
}
